@include media-breakpoint-only(xs) {
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@include media-breakpoint-only(sm) {
  .col-sm-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}

@include media-breakpoint-only(md) {
  .col-md-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}

@include media-breakpoint-only(lg) {
  .col-lg-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}

@include media-breakpoint-only(xl) {
  .col-xl-auto {
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: none;
  }
}

/******************** These should be included in theme ******************/
// Modal CSS
.modal--full {
  max-width: none !important;
  margin-left: 94px !important;
  margin-right: 94px !important;
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

@media screen and (max-width: 576px) {
  .modal--full {
    margin-left: 24px !important;
    margin-right: 24px !important;
  }
}

.modal--full {
  .modal-content {
    border-radius: 6px;
  }

  .modal-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;
  }

  .modal-icon {
    border: 3px solid #678898;
    padding: 3%;
    margin: 1rem;
  }

  .modal-body {
    text-align: center;
  }

  .modal-footer {
    border-top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .btn {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: -0.33px;
  }

  .btn-primary {
    border-color: #29363D;
    color: #29363D;
  }

  .btn-cancel {
    border-color: #F86C6B;
    color: #F86C6B;
  }
}

.modal_close-btn {
  margin: 0;
  position: absolute;
  top: -50px;
  right: 0;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
}

.s--modal-content {
  .modal-backdrop {
    background-color: #678898;

    .show {
      opacity: 0.4;
    }
  }
}

.fa-chevron-down {
  color: #869FAC;
}

.fa-chevron-up {
  color: #869FAC;
}

.fa-flag-checkered {
  color: #C2CFD6;
}

.fa-user-secret {
  color: #C2CFD6;
}

@media screen and (max-width: 767px) {
  .tooltip-inner {
    width: 250px !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .tooltip-inner {
    width: 350px !important;
  }
}

div.dropdown-menu.dropdown-menu-right.show {
  position: absolute!important;
  z-index: 99999!important;
}

@media screen and (max-width: 767px) and (orientation:landscape) {
  .statbox-bottom{
    position: relative !important;
  }
}

// Show sidebar backdrop on medium screens and below
.sidebar-show{
  @include media-breakpoint-down(md) {
    .main {
      position: fixed;
      height: 100vh;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $zindex-sticky - 2;
        width: 100%;
        height: 100vh;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        animation: opacity $layout-transition-speed;
      }
    }
  }
}
